.page.index

  .banner
    .left
      .content
        .form
          %form{:action => "https://dixiedirectcard.com/{$year nocache}/buy", :method => "get"}
            %center
              %select#purchase_count{:name => "count"}
                %option{:value => "1"} 1
                %option{:value => "2"} 2
                %option{:value => "3"} 3
                %option{:value => "4"} 4
                %option{:value => "5"} 5
                %option{:value => "6"} 6
                %option{:value => "7"} 7
                %option{:value => "8"} 8
                %option{:value => "9"} 9
                %option{:value => "10"} 10
              %br/
              = submit_tag "Purchase Now", :class => "btn_submit"
                
    .right
      = link_to image_tag("http://dixiedirectcard.com/images/orange/banner.png"), root_url, :title => "Buy Now"
    
  .clear
  
  .widget.column_2.color_1
    .header
      %h1 Download our Mobile App Today!
    .content
      %center
        = link_to image_tag("http://drivealternatives.com/images/mobile/iphone_app_download.png?1306351667", :width => "350"), "http://itunes.apple.com/us/app/dixie-direct/id520970673?mt=8"
        %br
        = link_to image_tag("http://drivealternatives.com/images/mobile/android_app_download.png?1306351666", :width => "350"), "https://play.google.com/store/apps/details?id=com.app_dixiedirect.layout&feature=search_result#?t=W251bGwsMSwyLDEsImNvbS5hcHBfZGl4aWVkaXJlY3QubGF5b3V0Il0."
  
  .widget.column_2.color_2
    .header
      %h1 Our Video Contest Winners!
    .content
      %object{:align => "middle", :height => "224", :width => "400"}
        %param{:name => "allowfullscreen", :value => "true"}/
        %param{:name => "allowscriptaccess", :value => "always"}/
        %param{:name => "movie", :value => "http://www.facebook.com/v/2586473897160"}/
        %embed{:allowfullscreen => "true", :allowscriptaccess => "always", :height => "224", :src => "http://www.facebook.com/v/2586473897160", :type => "application/x-shockwave-flash", :width => "400"}
        
  
  .clear
  
  .widget.column_1.color_2
    .header
      %h1 What We Offer
      %ul#triggers
        %li.active= link_to "Restaurants", "#tab_1"
        %li= link_to "Entertainment & Sports", "#tab_5"
        %li= link_to "Golf", "#tab_8"
        %li= link_to "Health & Beauty", "#tab_3"
        %li= link_to "Services", "#tab_9"
        %li= link_to "Shopping", "#tab_2"
        %li= link_to "Home & Maintenance", "#tab_6"
        %li= link_to "Auto", "#tab_4"
        %li= link_to "Travel", "#tab_7"
    .content
      .tabs
  
  
  .widget.column_2.color_2
    .header
      %h1 Why buy a Dixie Direct Savings Guide?
    .content
      %p
        You can now save thousands of dollars on everday expenses for your entire family at over 250 local businesses including 29 FREE Bonus Coupons.
      %p
        Need a fund-raiser? We almost do it all for you! No up front costs, groups keep 50% from each book sold, an organized fund-raising program and an easy to sell product.
      %p
        %center
          Download our <b>FREE APP</b> and you can access your savings all over town with just your card!
      
  .widget.column_2.color_2
    .header
      %h1 Testimonials
    .content
      - @testimonials.each do |testimonial|
        .testimonial_box
          .testimonial
            "#{testimonial.testimonial}"
          .name
            = testimonial.name






