!!!
%html{:lang => "en"}
  %head
    %title Dixie Direct Card
    = favicon_link_tag "icon.png"
    = stylesheet_link_tag "application", "home/application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .shadow
      .container
        .top_bar
          .left
            = link_to "Check out Cache Valley Savings Guide", "http://cachevalleysavings.com/"
          .right
            = Time.now.strftime("%A %b, %e")
        
        .main_header
        
        .navigation_bars
          .top_nav_bar
            %ul.primary
              %li= link_to "Home", "#"
              %li= link_to "Discounts", "#"
              %li= link_to "Fundraising", "#"
              %li= link_to "Buy Membership", "#"
              %li= link_to "Advertising", "#"
              %li= link_to "Updates", "#"
              %li= link_to "Free Offers", "#"
              %li= link_to "Contact Us", "#"
            .search
              %form
                %input{:type => "text", :placeholder => "Search..."}
          .bottom_nav_bar
            %ul.secondary
              %li= link_to "Restaurants", "#"
              %li= link_to "Entertainment & Sports", "#"
              %li= link_to "Golf", "#"
              %li= link_to "Health & Beauty", "#"
              %li= link_to "Services", "#"
              %li= link_to "Shopping", "#"
              %li= link_to "Home & Maintenance", "#"
              %li= link_to "Auto", "#"
              %li= link_to "Travel & Lodging", "#"
        .yield
          = yield
        .footer
          All logos and trademarks within www.DixieDirectCard.com are sole property of their respective owners.
          %br
          © 2012 Dixie Direct Savings Guide | Website Development by www.StubThumb.com
          
          